/* index.css */
@import "@/styles/variables.css";

/* Styles globaux pour appliquer les thèmes */
.theme-light {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.theme-dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

/* Transition pour rendre le changement de thème plus fluide */
body {
  transition: background-color var(--transition), color var(--transition);
}
